openapi: 3.0.3
info:
  title: Underfish API — modified auth/profile/event contracts
  description: |
    Дополнение к основному Swagger: здесь зафиксированы API-контракты, которые изменились
    в рамках текущих правок auth/profile/gateway/event/location/tag flows.
  version: 1.1.0
servers:
  - url: https://underfish.ru
    description: Сервер API
  - url: http://localhost:8080
    description: Локальный gateway

tags:
  - name: Auth
    description: Регистрация, логин и обновление токенов
  - name: Profile
    description: Профиль пользователя через gateway route /api/v1/users/**
  - name: Location
    description: Геолокации с числовыми ID
  - name: Event
    description: Мероприятия, принимающие location_id как строковый внешний идентификатор
  - name: Tag
    description: Теги, включая кириллицу и legacy windows-1251 payloads

paths:
  /api/v1/users/register:
    post:
      tags: [Auth]
      summary: Регистрация пользователя
      description: |
        Создаёт пользователя в Auth Service, затем Auth Service создаёт профиль в Profile Service
        с тем же числовым user_id. В ответ сразу возвращаются access/refresh tokens, поэтому
        после регистрации отдельный login не обязателен.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRegisterRequest'
            examples:
              default:
                value:
                  email: test@example.com
                  password: P@ssw0rd123
                  name: Test User
      responses:
        '201':
          description: Пользователь зарегистрирован, профиль создан, токены выданы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '409':
          description: Пользователь с таким email уже существует

  /api/v1/users/login:
    post:
      tags: [Auth]
      summary: Авторизация пользователя
      description: Проверяет email/password и выдаёт новую пару access/refresh tokens.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginRequest'
      responses:
        '200':
          description: Успешная авторизация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Неверный email или пароль

  /api/v1/tokens/refresh:
    post:
      tags: [Auth]
      summary: Обновление access/refresh tokens
      description: |
        Принимает только refresh token. Access token в эту ручку передавать нельзя:
        сервер проверяет claim token_type=refresh.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
            examples:
              snake_case:
                value:
                  refresh_token: eyJ...
              camelCase_legacy:
                value:
                  refreshToken: eyJ...
      responses:
        '200':
          description: Новая пара токенов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Refresh token невалиден, истёк или это не refresh token

  /api/v1/users/{user_id}:
    get:
      tags: [Profile]
      summary: Получение профиля пользователя
      description: |
        Gateway принимает /api/v1/users/{user_id} и переписывает путь в Profile Service
        на /api/v1/profiles/{user_id}. user_id — числовой auth/profile ID.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NumericUserId'
      responses:
        '200':
          description: Информация о профиле
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '403':
          description: Можно смотреть только себя или нужен ADMIN
        '404':
          description: Профиль не найден
    put:
      tags: [Profile]
      summary: Обновление профиля пользователя
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NumericUserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: Профиль обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '403':
          description: Можно обновлять только себя или нужен ADMIN
    delete:
      tags: [Profile]
      summary: Удаление профиля пользователя
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NumericUserId'
      responses:
        '204':
          description: Профиль удалён
        '403':
          description: Нужна роль ADMIN

  /api/v1/locations/{location_id}:
    get:
      tags: [Location]
      summary: Получение геолокации
      parameters:
        - $ref: '#/components/parameters/NumericLocationId'
      responses:
        '200':
          description: Геолокация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResponse'
    put:
      tags: [Location]
      summary: Обновление геолокации
      parameters:
        - $ref: '#/components/parameters/NumericLocationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationRequest'
      responses:
        '200':
          description: Геолокация обновлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResponse'
    delete:
      tags: [Location]
      summary: Удаление геолокации
      parameters:
        - $ref: '#/components/parameters/NumericLocationId'
      responses:
        '204':
          description: Геолокация удалена

  /api/v1/events:
    post:
      tags: [Event]
      summary: Создание мероприятия
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventRequest'
            examples:
              numeric_location:
                value:
                  title: E2E Event
                  description: Event created by integration test
                  start_datetime: '2030-01-01T10:00:00'
                  end_datetime: '2030-01-01T12:00:00'
                  location_id: '1'
                  community_id: 72bb6a64-fd1b-4a7e-9649-80f91b261596
                  price: 0
                  currency: RUB
                  status: PUBLISHED
                  max_participants: 10
                  is_online: true
      responses:
        '201':
          description: Мероприятие создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
    get:
      tags: [Event]
      summary: Получение списка мероприятий
      parameters:
        - name: location_id
          in: query
          description: Внешний ID геолокации; теперь строка, не UUID
          schema:
            type: string
            example: '1'
      responses:
        '200':
          description: Список мероприятий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventPageResponse'

  /api/v1/events/{event_id}:
    put:
      tags: [Event]
      summary: Обновление мероприятия
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventRequest'
      responses:
        '200':
          description: Мероприятие обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'

  /api/v1/tags:
    post:
      tags: [Tag]
      summary: Создание тега
      description: |
        Тело запроса декодируется как UTF-8; если payload пришёл в legacy windows-1251,
        сервер выполнит fallback-декодирование. Имя тега trim'ится и не может быть пустым.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/TagRequest'
            examples:
              cyrillic:
                value:
                  name: музыка
          application/json; charset=windows-1251:
            schema:
              $ref: '#/components/schemas/TagRequest'
      responses:
        '201':
          description: Тег создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
        '400':
          description: Пустое имя или некорректное тело запроса
        '409':
          description: Тег с таким именем уже существует
    get:
      tags: [Tag]
      summary: Получение списка тегов
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Список тегов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagResponse'

  /api/v1/tags/{tag_id}:
    put:
      tags: [Tag]
      summary: Обновление тега
      description: Поддерживает те же UTF-8/windows-1251 правила декодирования, что и создание тега.
      security:
        - bearerAuth: []
      parameters:
        - name: tag_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/TagRequest'
          application/json; charset=windows-1251:
            schema:
              $ref: '#/components/schemas/TagRequest'
      responses:
        '200':
          description: Тег обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    NumericUserId:
      name: user_id
      in: path
      required: true
      description: Числовой auth/profile ID пользователя
      schema:
        type: integer
        format: int64
        example: 1
    NumericLocationId:
      name: location_id
      in: path
      required: true
      description: Числовой ID геолокации из Location Service
      schema:
        type: integer
        format: int64
        example: 1

  schemas:
    AuthRegisterRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 1
        name:
          type: string
          nullable: true
          description: Имя профиля; если пустое, берётся часть email до @
      required: [email, password]

    UserLoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required: [email, password]

    RefreshTokenRequest:
      type: object
      properties:
        refresh_token:
          type: string
          description: Основное snake_case поле
        refreshToken:
          type: string
          deprecated: true
          description: Legacy alias, тоже принимается сервером
      required: [refresh_token]

    TokenResponse:
      type: object
      properties:
        token:
          type: string
          description: Backward-compatible alias для access_token
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          format: int64
          description: TTL access token в секундах
      required: [token, access_token, refresh_token, token_type, expires_in]

    UserResponse:
      type: object
      properties:
        user_id:
          type: string
          pattern: '^\\d+$'
          example: '1'
          description: Сейчас profile-service возвращает числовой ID строкой
        email:
          type: string
          format: email
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        avatar_url:
          type: string
          nullable: true
        registration_date:
          type: string
          format: date-time
          nullable: true
        last_login:
          type: string
          format: date-time
          nullable: true

    UserUpdateRequest:
      type: object
      properties:
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        avatar_url:
          type: string
          nullable: true

    LocationRequest:
      type: object
      properties:
        address:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        city:
          type: string
        district:
          type: string
        place_name:
          type: string
        timezone:
          type: string
      required: [latitude, longitude]

    LocationResponse:
      type: object
      properties:
        location_id:
          type: string
          pattern: '^\\d+$'
          example: '1'
        address:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        city:
          type: string
        district:
          type: string
        place_name:
          type: string
        timezone:
          type: string

    EventRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        start_datetime:
          type: string
          format: date-time
        end_datetime:
          type: string
          format: date-time
        location_id:
          type: string
          description: Внешний ID геолокации; теперь строка, не UUID
          example: '1'
        price:
          type: number
          format: double
          nullable: true
        currency:
          type: string
          nullable: true
        poster_url:
          type: string
          nullable: true
        community_id:
          type: string
          format: uuid
          nullable: true
        status:
          type: string
          enum: [DRAFT, PUBLISHED, CANCELLED, COMPLETED]
        max_participants:
          type: integer
          nullable: true
        is_online:
          type: boolean
          nullable: true
      required: [title, description, start_datetime, end_datetime, location_id, status]

    EventResponse:
      allOf:
        - $ref: '#/components/schemas/EventRequest'
        - type: object
          properties:
            event_id:
              type: string
              format: uuid
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
          required: [event_id, created_at, updated_at]

    EventPageResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/EventResponse'
        meta:
          $ref: '#/components/schemas/PageMeta'

    TagRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: музыка
      required: [name]

    TagResponse:
      type: object
      properties:
        tag_id:
          type: string
          format: uuid
        name:
          type: string
      required: [tag_id, name]

    PageMeta:
      type: object
      properties:
        page:
          type: integer
        size:
          type: integer
        total_elements:
          type: integer
        total_pages:
          type: integer
